*, html, body {
  box-sizing: border-box;
}

#root, html, body, .app-container {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: calc(100vh - 180px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: #53599A;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
}

button, .btn {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #8bb9e0;
}

.navbar a {
  font-weight: bold;
  font-size: 1rem;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .links {
  margin-left: 1.5rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
  text-decoration: underline;
} 

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  background-color: #983a59;
  color: white;
}

footer > img{
  width: 200px;
  height: 41px;
  margin: 0;
}
footer > p{
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
  border: 2px solid #f9f6f6;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(168,165,168,1);
  -moz-box-shadow: 5px 5px 15px 0px rgba(168,165,168,1);
  box-shadow: 5px 5px 15px 0px rgba(168,165,168,1);
}

.card:hover{
  border: 2px solid #7a7ac1;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card > img {
  display: block;
  max-width: 100%;
  background-color: #f0f8ff;
}

.card .title {
  font-weight: bold;
}

.card .subtitle {
  font-style: italic;
  color: #736f6f;
  line-height: 1;
  margin-bottom: 1rem;
}

.card .detail-btn {
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 0.75rem;
  margin-right: 1.5rem;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}